body{
	
	width:100%;
	overflow:hidden;
	
}
.hide{ display:none;}
.page{
	width:100%;
	height:100%;
	position:absolute;
	font-size:100px;
	text-align:center;
}
.page .wrap{
	height:500px;height:100%;
}
.page-1-1{ background-color:#32b846;}
.page-2-1{ background-color:#32b846;}
.page-3-1{ background-color:#32b846;}
.page-4-1{ background-color:#32b846;}


.page-current{
	z-index:1;
}
.pageposition {position: absolute; /*top: 56%;*/ left: 50%; width: 320px; margin-left: -160px;/*bottom:40%;*/}
/*.page .wrap .pageposition{bottom:100%;}*/
.page-1-1 .pageposition{ top:5%;}
.page-1-1 .img_1 {
    height:auto;width:320px;
    position:absolute;
    left:50%;
    top:25%;
    margin-left:-160px;
}
.page-1-1 .img_3 {
    height:auto;width:300px;
    position:absolute;
    left:50%;
    top:70%;
    margin-left:-150px;
}
.page-1-1 .img_4 {
    height:auto;width:300px;
    position:absolute;
    left:50%;
    top:77%;
    margin-left:-150px;
}
.page-2-1 .pageposition{ top:6%;}
.page-2-1 .img_1 {
    height:auto;width:300px;
    position:absolute;
    left:50%;
    top:25%;
    margin-left:-140px;
}
.page-2-1 .img_3 {
    height:auto;width:300px;
    position:absolute;
    left:50%;
    top:70%;
    margin-left:-150px;
}
.page-2-1 .img_4 {
    height:auto;width:300px;
    position:absolute;
    left:50%;
    top:77%;
    margin-left:-150px;
}
.page-3-1 .pageposition{ top:8%;}
.page-3-1 .img_1 {
    height:auto;width:310px;
    position:absolute;
    left:50%;
    top:25%;
    margin-left:-155px;
}
.page-3-1 .img_3 {
    height:auto;width:300px;
    position:absolute;
    left:50%;
    top:70%;
    margin-left:-150px;
}
.page-3-1 .img_4 {
    height:auto;width:300px;
    position:absolute;
    left:50%;
    top:77%;
    margin-left:-150px;
}
.page-4-1 .pageposition{ top:4%;}
.page-4-1 .img_1 {
    height:auto;width:300px;
    position:absolute;
    left:50%;
    top:25%;
    margin-left:-138px;
}
.page-4-1 .img_3 {
    height:auto;width:300px;
    position:absolute;
    left:50%;
    top:70%;
    margin-left:-150px;
}
.page-4-1 .img_4 {
    height:auto;width:300px;
    position:absolute;
    left:50%;
    top:77%;
    margin-left:-150px;
}

.page-1-1 .img_8,.page-2-1 .img_8,.page-3-1 .img_8{
    height: auto;
    width: 20px;
    position: absolute;
    left: 50%;
    top: 92%;
    margin-left: -10px;
}

@media only screen and (max-device-width:480px){

    /*css样式*/
}
@media (max-width: 320px) {
    /*.pageposition .img_1{*/
        /*width:320px;*/
        /*margin-left:-160px;*/
    /*}*/
    .wrap .img_3{
        width:300px;
        margin-left:-140px;
        top:77%;
    }
    .wrap .img_4{
        width:300px;
        margin-left:-140px;
        top:86%;
    }
    .page-1-1 .img_8,.page-2-1 .img_8,.page-3-1 .img_8{
        top:95%;
    }
}







