@charset "utf-8";
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjzdust: 100%;
  height: 100%;
}
body {
  line-height: 1.6;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  height: 100%;
  color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  border: 0;
}
a {
  text-decoration: none;
  color: #ffffff;
}
ul,
li {
  list-style: none;
}
@font-face {
  font-family: 'bdzongyi-a00fzzongyim05sarial';
  src: url('../font/baidu_zongyi_0-webfont.woff2') format('woff2'), url('../font/baidu_zongyi_0-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.img-circle {
  border-radius: 50%;
  -webkit-border-radiu: 50%;
  -moz-border-radiu: 50%;
}
.team-logo {
  border: 1px solid #dadada;
  border-width: 0.01333333rem;
  background: #ffffff;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-border-radiu: 10px;
  -moz-border-radiu: 10px;
}
.team-logo img {
  border-radius: 10px;
  -webkit-border-radiu: 10px;
  -moz-border-radiu: 10px;
  width: 100%;
  height: 100%;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.stripe-bg {
  background: linear-gradient(to right, #000000 50%, #ffffff 50%);
  background-size: 96px 100%;
  opacity: .05;
}
/**/
.wrap {
  width: 100%;
  background: url(../images/body_bg2.png) repeat top center;
}
.header {
  width: 10rem;
  height: 5.93333333rem;
  background: url(../images/top_bg3.jpg) no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 2.98666667rem;
}
.header .stripe-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 72px;
}
.top-team {
  width: 2.50666667rem;
  height: 2.50666667rem;
  position: relative;
  border: 1px solid #dadada;
  border-width: 0.01333333rem;
  background: #ffffff;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-border-radiu: 10px;
  -moz-border-radiu: 10px;
}
.top-team img {
  border-radius: 10px;
  -webkit-border-radiu: 10px;
  -moz-border-radiu: 10px;
  width: 100%;
  height: 100%;
}
.top-team:after {
  display: block;
  content: '';
  width: 2.48rem;
  height: 0.38666667rem;
  border-radius: 20px;
  -webkit-border-radiu: 20px;
  -moz-border-radiu: 20px;
  background: url("../images/team_top_shadow.png") top center no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -0.38666667rem;
}
.top-h2 {
  display: block;
  color: #ffffff;
  font-size: 21px;
  padding-top: 0.93333333rem;
  text-align: center;
  font-family: 'bdzongyi-a00fzzongyim05sarial';
  width: 12em;
  margin: 0 auto;
  line-height: 1;
}
[data-dpr="2"] .top-h2 {
  font-size: 42px;
}
[data-dpr="2.5"] .top-h2 {
  font-size: 53px;
}
[data-dpr="2.75"] .top-h2 {
  font-size: 58px;
}
[data-dpr="3"] .top-h2 {
  font-size: 63px;
}
[data-dpr="4"] .top-h2 {
  font-size: 84px;
}
.team-statu {
  width: 9.2rem;
  margin: 0 auto;
  padding: 0.66666667rem;
  font-size: 16px;
  color: #fcff00;
  position: relative;
}
[data-dpr="2"] .team-statu {
  font-size: 32px;
}
[data-dpr="2.5"] .team-statu {
  font-size: 40px;
}
[data-dpr="2.75"] .team-statu {
  font-size: 44px;
}
[data-dpr="3"] .team-statu {
  font-size: 48px;
}
[data-dpr="4"] .team-statu {
  font-size: 64px;
}
.team-statu span {
  display: inline-block;
  width: 50%;
  line-height: 0.45333333rem;
  text-align: center;
}
.team-statu span i {
  display: inline-block;
  font-style: normal;
  margin-right: 0.2rem;
  vertical-align: sub;
}
.team-statu .team-follow {
  float: left;
}
.team-statu .team-num {
  float: right;
}
.team-statu .divide {
  display: inline-block;
  font-style: normal;
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  top: 0.66666667rem;
  line-height: 0.45333333rem;
}
.team-statu .icon-follow {
  width: 0.48rem;
  height: 0.4rem;
  background: url("../images/follow_dot.png") center center no-repeat;
  background-size: cover;
}
.team-statu .icon-team {
  width: 0.45333333rem;
  height: 0.44rem;
  background: url("../images/team_dot.png") center center no-repeat;
  background-size: cover;
}
.main-content {
  border: 4px solid rgba(255, 255, 255, 0.75);
  border-width: 2px;
  border-top: none;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  position: relative;
}
[data-dpr="2"] .main-content {
  border-width: 4px;
}
[data-dpr="2.5"] .main-content {
  border-width: 5px;
}
[data-dpr="2.75"] .main-content {
  border-width: 6px;
}
[data-dpr="3"] .main-content {
  border-width: 6px;
}
[data-dpr="4"] .main-content {
  border-width: 8px;
}
.main-content .main-bottom {
  width: 3.13333333rem;
  height: 1.58666667rem;
  background: url("../images/bottom-bg.png") no-repeat center bottom;
  display: block;
  margin: 0 auto;
}
.main-content .stripe-bg {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.part {
  margin-bottom: 0.93333333rem;
}
.part h3 {
  display: block;
  font-weight: normal;
  font-size: 17px;
  color: #ffffff;
  text-align: center;
  padding-bottom: 0.50666667rem;
}
[data-dpr="2"] .part h3 {
  font-size: 34px;
}
[data-dpr="2.5"] .part h3 {
  font-size: 43px;
}
[data-dpr="2.75"] .part h3 {
  font-size: 47px;
}
[data-dpr="3"] .part h3 {
  font-size: 51px;
}
[data-dpr="4"] .part h3 {
  font-size: 68px;
}
.part h3 .h3-bg {
  display: inline-block;
  width: 4.50666667rem;
  height: 0.77333333rem;
  line-height: 0.77333333rem;
  text-align: center;
  background: url("../images/h3_bg.png") no-repeat;
  background-size: cover;
}
.part article {
  display: block;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 0.33333333rem;
}
[data-dpr="2"] .part article {
  font-size: 28px;
}
[data-dpr="2.5"] .part article {
  font-size: 35px;
}
[data-dpr="2.75"] .part article {
  font-size: 39px;
}
[data-dpr="3"] .part article {
  font-size: 42px;
}
[data-dpr="4"] .part article {
  font-size: 56px;
}
.part article .main-p {
  text-indent: 2em;
  line-height: 1.5;
}
.part h4 {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 1.3125;
  color: #ffdb34;
  padding-bottom: 0.33333333rem;
}
[data-dpr="2"] .part h4 {
  font-size: 32px;
}
[data-dpr="2.5"] .part h4 {
  font-size: 40px;
}
[data-dpr="2.75"] .part h4 {
  font-size: 44px;
}
[data-dpr="3"] .part h4 {
  font-size: 48px;
}
[data-dpr="4"] .part h4 {
  font-size: 64px;
}
/*比赛结果*/
.team-result span {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
}
[data-dpr="2"] .team-result span {
  font-size: 32px;
}
[data-dpr="2.5"] .team-result span {
  font-size: 40px;
}
[data-dpr="2.75"] .team-result span {
  font-size: 44px;
}
[data-dpr="3"] .team-result span {
  font-size: 48px;
}
[data-dpr="4"] .team-result span {
  font-size: 64px;
}
.team-result .team-txt {
  width: 3.36rem;
  padding-top: 0.66666667rem;
}
.team-result .team-name {
  text-align: right;
  float: left;
  width: 3.36rem;
  padding-top: 0.66666667rem;
}
.team-result .team-sort-box {
  width: 1.78666667rem;
  float: left;
  margin-left: 0.33333333rem;
  position: relative;
  padding-bottom: 1.26666667rem;
}
.team-result .team-sort-box .team-logo1 {
  border: 1px solid #dadada;
  border-width: 0.01333333rem;
  background: #ffffff;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-border-radiu: 10px;
  -moz-border-radiu: 10px;
  width: 1.76rem;
  height: 1.76rem;
}
.team-result .team-sort-box .team-logo1 img {
  border-radius: 10px;
  -webkit-border-radiu: 10px;
  -moz-border-radiu: 10px;
  width: 100%;
  height: 100%;
}
.team-result .team-sort-box .team-sort {
  display: block;
  background: url("../images/medal.png") no-repeat;
  width: 0.78666667rem;
  height: 1.26666667rem;
  margin: 0 auto;
  position: absolute;
  top: 1.78666667rem;
  margin-left: 0.52rem;
  text-align: center;
  vertical-align: bottom;
  line-height: 4;
}
.team-result .team-money {
  width: 3.36rem;
  padding-top: 0.66666667rem;
  text-align: left;
  float: right;
}
/*参赛队伍*/
.team-list {
  display: block;
  zoom: 1;
}
.team-list:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.team-list li {
  float: left;
  width: 2.26666667rem;
  text-align: center;
  margin-bottom: 0.26666667rem;
}
.team-list li .team-logo2 {
  border: 1px solid #dadada;
  border-width: 0.01333333rem;
  background: #ffffff;
  display: block;
  border-radius: 10px;
  -webkit-border-radiu: 10px;
  -moz-border-radiu: 10px;
  width: 1.30666667rem;
  height: 1.30666667rem;
  margin: 0 auto;
}
.team-list li .team-logo2 img {
  border-radius: 10px;
  -webkit-border-radiu: 10px;
  -moz-border-radiu: 10px;
  width: 100%;
  height: 100%;
}
.team-list li .team-name {
  display: block;
  font-size: 13px;
  color: #ffffff;
  line-height: 2.76923077;
}
[data-dpr="2"] .team-list li .team-name {
  font-size: 26px;
}
[data-dpr="2.5"] .team-list li .team-name {
  font-size: 33px;
}
[data-dpr="2.75"] .team-list li .team-name {
  font-size: 36px;
}
[data-dpr="3"] .team-list li .team-name {
  font-size: 39px;
}
[data-dpr="4"] .team-list li .team-name {
  font-size: 52px;
}
/*比赛动态*/
.article-top {
  zoom: 1;
  padding-left: 0.33333333rem;
}
.article-top:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.article-top .per-img {
  display: block;
  width: 1.28rem;
  border-radius: 50%;
  -webkit-border-radiu: 50%;
  -moz-border-radiu: 50%;
}
.article-top .per-img img {
  width: 100%;
  height: 100%;
}
.article-top .top-title {
  position: relative;
  width: 100%;
  padding-left: 1.53333333rem;
}
.article-top .top-h5 {
  display: block;
  font-size: 18px;
}
[data-dpr="2"] .article-top .top-h5 {
  font-size: 36px;
}
[data-dpr="2.5"] .article-top .top-h5 {
  font-size: 45px;
}
[data-dpr="2.75"] .article-top .top-h5 {
  font-size: 50px;
}
[data-dpr="3"] .article-top .top-h5 {
  font-size: 54px;
}
[data-dpr="4"] .article-top .top-h5 {
  font-size: 72px;
}
.article-top .top-con {
  font-size: 14px;
  zoom: 1;
}
[data-dpr="2"] .article-top .top-con {
  font-size: 28px;
}
[data-dpr="2.5"] .article-top .top-con {
  font-size: 35px;
}
[data-dpr="2.75"] .article-top .top-con {
  font-size: 39px;
}
[data-dpr="3"] .article-top .top-con {
  font-size: 42px;
}
[data-dpr="4"] .article-top .top-con {
  font-size: 56px;
}
.article-top .top-con:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/*球员列表*/
.per-list {
  zoom: 1;
  margin-left: -0.26666667rem;
}
.per-list:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.per-list li {
  float: left;
  width: 1.96rem;
  height: 1.96rem;
  border-radius: 5px;
  -webkit-border-radiu: 5px;
  -moz-border-radiu: 5px;
  margin-left: 0.26666667rem;
  margin-bottom: 0.33333333rem;
}
.per-list li img {
  wdith: 100%;
  height: 100%;
}
/*合作伙伴列表*/
.company-list {
  zoom: 1;
}
.company-list:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.company-list li {
  float: left;
  width: 1.76rem;
  height: 1.76rem;
  border: 1px solid #fff;
  margin-left: 0.46666667rem;
}
.company-list li img {
  width: 100%;
  height: 100%;
}
/*底部二维码*/
.footer {
  padding: 1.06666667rem;
}
.code-list {
  overflow: hidden;
}
.code-list li {
  float: left;
  margin-left: 1.26666667rem;
  width: 2.02666667rem;
}
.code-list li .code-img {
  display: block;
  width: 2.02666667rem;
  height: 2.02666667rem;
}
.code-list li .code-name {
  display: block;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  padding-top: 10px;
}
[data-dpr="2"] .code-list li .code-name {
  font-size: 28px;
}
[data-dpr="2.5"] .code-list li .code-name {
  font-size: 35px;
}
[data-dpr="2.75"] .code-list li .code-name {
  font-size: 39px;
}
[data-dpr="3"] .code-list li .code-name {
  font-size: 42px;
}
[data-dpr="4"] .code-list li .code-name {
  font-size: 56px;
}
.main-btn {
  display: block;
  width: 8.13333333rem;
  height: 0.97333333rem;
  line-height: 0.97333333rem;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-border-radiu: 10px;
  -moz-border-radiu: 10px;
  margin-bottom: 0.8rem;
  background: #ffeb00;
  font-size: 15px;
  text-align: center;
  color: #f97305;
  box-shadow: 0 9px 0 #feac00;
}
[data-dpr="2"] .main-btn {
  font-size: 30px;
}
[data-dpr="2.5"] .main-btn {
  font-size: 38px;
}
[data-dpr="2.75"] .main-btn {
  font-size: 41px;
}
[data-dpr="3"] .main-btn {
  font-size: 45px;
}
[data-dpr="4"] .main-btn {
  font-size: 60px;
}
/*比赛信息*/
.team-vs {
  zoom: 1;
  position: relative;
}
.team-vs:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.team-vs .team-pk {
  width: 100%;
  position: absolute;
  text-align: center;
}
.team-box {
  width: 2.4rem;
}
.team-box .team-logo3 {
  width: 1.76rem;
  height: 1.76rem;
  border: 1px solid #dadada;
  border-width: 0.01333333rem;
  background: #ffffff;
  display: block;
  border-radius: 10px;
  -webkit-border-radiu: 10px;
  -moz-border-radiu: 10px;
  margin: 0 auto;
}
.team-box .team-logo3 img {
  border-radius: 10px;
  -webkit-border-radiu: 10px;
  -moz-border-radiu: 10px;
  width: 100%;
  height: 100%;
}
.team-box .team-name {
  display: block;
  text-align: center;
  font-size: 14px;
  padding-top: 10px;
}
[data-dpr="2"] .team-box .team-name {
  font-size: 28px;
}
[data-dpr="2.5"] .team-box .team-name {
  font-size: 35px;
}
[data-dpr="2.75"] .team-box .team-name {
  font-size: 39px;
}
[data-dpr="3"] .team-box .team-name {
  font-size: 42px;
}
[data-dpr="4"] .team-box .team-name {
  font-size: 56px;
}
.team-pk {
  display: block;
  font-size: 14px;
}
[data-dpr="2"] .team-pk {
  font-size: 28px;
}
[data-dpr="2.5"] .team-pk {
  font-size: 35px;
}
[data-dpr="2.75"] .team-pk {
  font-size: 39px;
}
[data-dpr="3"] .team-pk {
  font-size: 42px;
}
[data-dpr="4"] .team-pk {
  font-size: 56px;
}
.team-pk span {
  display: block;
}
.team-pk .pk-time {
  line-height: 1.5;
}
.team-pk .pk-tag {
  font-size: 28px;
}
[data-dpr="2"] .team-pk .pk-tag {
  font-size: 56px;
}
[data-dpr="2.5"] .team-pk .pk-tag {
  font-size: 70px;
}
[data-dpr="2.75"] .team-pk .pk-tag {
  font-size: 77px;
}
[data-dpr="3"] .team-pk .pk-tag {
  font-size: 84px;
}
[data-dpr="4"] .team-pk .pk-tag {
  font-size: 112px;
}
