@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjzdust: 100%;
  height: 100%;
}
body {
  line-height: 1.6;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  height: 100%;
  background-color: #fff;
}
img {
  border: 0;
}
a {
  text-decoration: none;
  color: #000000;
}
.font-error {
  color: #ff2222;
}
.font-succes {
  color: #31b946;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.wrap {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.cuuju-media-box {
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
}
[data-dpr="2"] .cuuju-media-box {
  margin-left: 30px;
}
[data-dpr="2.5"] .cuuju-media-box {
  margin-left: 38px;
}
[data-dpr="2.75"] .cuuju-media-box {
  margin-left: 41px;
}
[data-dpr="3"] .cuuju-media-box {
  margin-left: 45px;
}
[data-dpr="4"] .cuuju-media-box {
  margin-left: 60px;
}
[data-dpr="2"] .cuuju-media-box {
  margin-right: 30px;
}
[data-dpr="2.5"] .cuuju-media-box {
  margin-right: 38px;
}
[data-dpr="2.75"] .cuuju-media-box {
  margin-right: 41px;
}
[data-dpr="3"] .cuuju-media-box {
  margin-right: 45px;
}
[data-dpr="4"] .cuuju-media-box {
  margin-right: 60px;
}
[data-dpr="2"] .cuuju-media-box {
  padding-bottom: 20px;
}
[data-dpr="2.5"] .cuuju-media-box {
  padding-bottom: 25px;
}
[data-dpr="2.75"] .cuuju-media-box {
  padding-bottom: 28px;
}
[data-dpr="3"] .cuuju-media-box {
  padding-bottom: 30px;
}
[data-dpr="4"] .cuuju-media-box {
  padding-bottom: 40px;
}
.cuuju-media-box.cuuju-media-appmsg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  margin-top: 10px;
  margin-right: 18px;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
}
[data-dpr="2"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  margin-top: 20px;
}
[data-dpr="2.5"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  margin-top: 25px;
}
[data-dpr="2.75"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  margin-top: 28px;
}
[data-dpr="3"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  margin-top: 30px;
}
[data-dpr="4"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  margin-top: 40px;
}
[data-dpr="2"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  margin-right: 35px;
}
[data-dpr="2.5"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  margin-right: 44px;
}
[data-dpr="2.75"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  margin-right: 48px;
}
[data-dpr="3"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  margin-right: 53px;
}
[data-dpr="4"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  margin-right: 70px;
}
[data-dpr="2"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  width: 110px;
}
[data-dpr="2.5"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  width: 138px;
}
[data-dpr="2.75"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  width: 151px;
}
[data-dpr="3"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  width: 165px;
}
[data-dpr="4"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  width: 220px;
}
[data-dpr="2"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  height: 110px;
}
[data-dpr="2.5"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  height: 138px;
}
[data-dpr="2.75"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  height: 151px;
}
[data-dpr="3"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  height: 165px;
}
[data-dpr="4"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  height: 220px;
}
[data-dpr="2"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  line-height: 110px;
}
[data-dpr="2.5"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  line-height: 138px;
}
[data-dpr="2.75"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  line-height: 151px;
}
[data-dpr="3"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  line-height: 165px;
}
[data-dpr="4"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd {
  line-height: 220px;
}
.cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd .cuuju-team-photo {
  width: 100%;
  height: 100%;
  vertical-align: top;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd .cuuju-person-photo {
  width: 100%;
  height: 100%;
  vertical-align: top;
  border-width: 2px;
  border: solid #e0e0e0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
[data-dpr="2"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd .cuuju-person-photo {
  border-width: 4px;
}
[data-dpr="2.5"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd .cuuju-person-photo {
  border-width: 5px;
}
[data-dpr="2.75"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd .cuuju-person-photo {
  border-width: 6px;
}
[data-dpr="3"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd .cuuju-person-photo {
  border-width: 6px;
}
[data-dpr="4"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-hd .cuuju-person-photo {
  border-width: 8px;
}
.cuuju-media-box.cuuju-media-appmsg .cuuju-media-bd {
  margin-top: 7px;
  line-height: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
}
[data-dpr="2"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-bd {
  margin-top: 14px;
}
[data-dpr="2.5"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-bd {
  margin-top: 18px;
}
[data-dpr="2.75"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-bd {
  margin-top: 19px;
}
[data-dpr="3"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-bd {
  margin-top: 21px;
}
[data-dpr="4"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-bd {
  margin-top: 28px;
}
.cuuju-media-box.cuuju-media-appmsg .cuuju-media-bd .cuuju-media-title {
  font-size: 18px;
  font-weight: 400;
  width: auto;
}
.cuuju-media-box.cuuju-media-appmsg .cuuju-media-bd .cuuju-media-time {
  margin-top: 7px;
  font-size: 12px;
  color: #898989;
}
[data-dpr="2"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-bd .cuuju-media-time {
  margin-top: 14px;
}
[data-dpr="2.5"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-bd .cuuju-media-time {
  margin-top: 18px;
}
[data-dpr="2.75"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-bd .cuuju-media-time {
  margin-top: 19px;
}
[data-dpr="3"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-bd .cuuju-media-time {
  margin-top: 21px;
}
[data-dpr="4"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-bd .cuuju-media-time {
  margin-top: 28px;
}
[data-dpr="2"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-bd .cuuju-media-time {
  font-size: 24px;
}
[data-dpr="2.5"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-bd .cuuju-media-time {
  font-size: 30px;
}
[data-dpr="2.75"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-bd .cuuju-media-time {
  font-size: 33px;
}
[data-dpr="3"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-bd .cuuju-media-time {
  font-size: 36px;
}
[data-dpr="4"] .cuuju-media-box.cuuju-media-appmsg .cuuju-media-bd .cuuju-media-time {
  font-size: 48px;
}
.cuuju-panel .cuuju-detail {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
[data-dpr="2"] .cuuju-panel .cuuju-detail {
  margin-left: 30px;
}
[data-dpr="2.5"] .cuuju-panel .cuuju-detail {
  margin-left: 38px;
}
[data-dpr="2.75"] .cuuju-panel .cuuju-detail {
  margin-left: 41px;
}
[data-dpr="3"] .cuuju-panel .cuuju-detail {
  margin-left: 45px;
}
[data-dpr="4"] .cuuju-panel .cuuju-detail {
  margin-left: 60px;
}
[data-dpr="2"] .cuuju-panel .cuuju-detail {
  margin-right: 30px;
}
[data-dpr="2.5"] .cuuju-panel .cuuju-detail {
  margin-right: 38px;
}
[data-dpr="2.75"] .cuuju-panel .cuuju-detail {
  margin-right: 41px;
}
[data-dpr="3"] .cuuju-panel .cuuju-detail {
  margin-right: 45px;
}
[data-dpr="4"] .cuuju-panel .cuuju-detail {
  margin-right: 60px;
}
[data-dpr="2"] .cuuju-panel .cuuju-detail {
  margin-top: 30px;
}
[data-dpr="2.5"] .cuuju-panel .cuuju-detail {
  margin-top: 38px;
}
[data-dpr="2.75"] .cuuju-panel .cuuju-detail {
  margin-top: 41px;
}
[data-dpr="3"] .cuuju-panel .cuuju-detail {
  margin-top: 45px;
}
[data-dpr="4"] .cuuju-panel .cuuju-detail {
  margin-top: 60px;
}
[data-dpr="2"] .cuuju-panel .cuuju-detail {
  margin-bottom: 30px;
}
[data-dpr="2.5"] .cuuju-panel .cuuju-detail {
  margin-bottom: 38px;
}
[data-dpr="2.75"] .cuuju-panel .cuuju-detail {
  margin-bottom: 41px;
}
[data-dpr="3"] .cuuju-panel .cuuju-detail {
  margin-bottom: 45px;
}
[data-dpr="4"] .cuuju-panel .cuuju-detail {
  margin-bottom: 60px;
}
.cuuju-panel .cuuju-detail .cuuju-tips {
  font-size: 14px;
  color: #424242;
}
[data-dpr="2"] .cuuju-panel .cuuju-detail .cuuju-tips {
  font-size: 28px;
}
[data-dpr="2.5"] .cuuju-panel .cuuju-detail .cuuju-tips {
  font-size: 35px;
}
[data-dpr="2.75"] .cuuju-panel .cuuju-detail .cuuju-tips {
  font-size: 39px;
}
[data-dpr="3"] .cuuju-panel .cuuju-detail .cuuju-tips {
  font-size: 42px;
}
[data-dpr="4"] .cuuju-panel .cuuju-detail .cuuju-tips {
  font-size: 56px;
}
.cuuju-panel .cuuju-detail .cuuju-tips-warn {
  margin-top: 14px;
  border: 1px solid #e5e5e5;
  position: relative;
  min-height: 75px;
}
[data-dpr="2"] .cuuju-panel .cuuju-detail .cuuju-tips-warn {
  margin-top: 28px;
}
[data-dpr="2.5"] .cuuju-panel .cuuju-detail .cuuju-tips-warn {
  margin-top: 35px;
}
[data-dpr="2.75"] .cuuju-panel .cuuju-detail .cuuju-tips-warn {
  margin-top: 39px;
}
[data-dpr="3"] .cuuju-panel .cuuju-detail .cuuju-tips-warn {
  margin-top: 42px;
}
[data-dpr="4"] .cuuju-panel .cuuju-detail .cuuju-tips-warn {
  margin-top: 56px;
}
[data-dpr="2"] .cuuju-panel .cuuju-detail .cuuju-tips-warn {
  min-height: 150px;
}
[data-dpr="2.5"] .cuuju-panel .cuuju-detail .cuuju-tips-warn {
  min-height: 188px;
}
[data-dpr="2.75"] .cuuju-panel .cuuju-detail .cuuju-tips-warn {
  min-height: 206px;
}
[data-dpr="3"] .cuuju-panel .cuuju-detail .cuuju-tips-warn {
  min-height: 225px;
}
[data-dpr="4"] .cuuju-panel .cuuju-detail .cuuju-tips-warn {
  min-height: 300px;
}
.cuuju-panel .cuuju-detail .cuuju-tips-warn:before {
  display: inline-block;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  border-top: 0;
  border-color: transparent transparent #e5e5e5 transparent;
  position: absolute;
  top: -6px;
  left: 11px;
}
.cuuju-panel .cuuju-detail .cuuju-tips-warn:after {
  display: inline-block;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  border-bottom-width: 6px;
  border-top: 0;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  top: -5px;
  left: 11px;
}
[data-dpr="2"] .cuuju-panel .cuuju-detail .cuuju-tips-warn:after {
  border-width: 11px;
}
[data-dpr="2.5"] .cuuju-panel .cuuju-detail .cuuju-tips-warn:after {
  border-width: 14px;
}
[data-dpr="2.75"] .cuuju-panel .cuuju-detail .cuuju-tips-warn:after {
  border-width: 15px;
}
[data-dpr="3"] .cuuju-panel .cuuju-detail .cuuju-tips-warn:after {
  border-width: 17px;
}
[data-dpr="4"] .cuuju-panel .cuuju-detail .cuuju-tips-warn:after {
  border-width: 22px;
}
[data-dpr="2"] .cuuju-panel .cuuju-detail .cuuju-tips-warn:after {
  border-bottom-width: 12px;
}
[data-dpr="2.5"] .cuuju-panel .cuuju-detail .cuuju-tips-warn:after {
  border-bottom-width: 15px;
}
[data-dpr="2.75"] .cuuju-panel .cuuju-detail .cuuju-tips-warn:after {
  border-bottom-width: 17px;
}
[data-dpr="3"] .cuuju-panel .cuuju-detail .cuuju-tips-warn:after {
  border-bottom-width: 18px;
}
[data-dpr="4"] .cuuju-panel .cuuju-detail .cuuju-tips-warn:after {
  border-bottom-width: 24px;
}
.cuuju-panel .cuuju-detail .cuuju-tips-warn .warn-con {
  color: #898989;
  font-size: 12px;
  padding: 10px;
  position: relative;
}
[data-dpr="2"] .cuuju-panel .cuuju-detail .cuuju-tips-warn .warn-con {
  font-size: 24px;
}
[data-dpr="2.5"] .cuuju-panel .cuuju-detail .cuuju-tips-warn .warn-con {
  font-size: 30px;
}
[data-dpr="2.75"] .cuuju-panel .cuuju-detail .cuuju-tips-warn .warn-con {
  font-size: 33px;
}
[data-dpr="3"] .cuuju-panel .cuuju-detail .cuuju-tips-warn .warn-con {
  font-size: 36px;
}
[data-dpr="4"] .cuuju-panel .cuuju-detail .cuuju-tips-warn .warn-con {
  font-size: 48px;
}
[data-dpr="2"] .cuuju-panel .cuuju-detail .cuuju-tips-warn .warn-con {
  padding: 20px;
}
[data-dpr="2.5"] .cuuju-panel .cuuju-detail .cuuju-tips-warn .warn-con {
  padding: 25px;
}
[data-dpr="2.75"] .cuuju-panel .cuuju-detail .cuuju-tips-warn .warn-con {
  padding: 28px;
}
[data-dpr="3"] .cuuju-panel .cuuju-detail .cuuju-tips-warn .warn-con {
  padding: 30px;
}
[data-dpr="4"] .cuuju-panel .cuuju-detail .cuuju-tips-warn .warn-con {
  padding: 40px;
}
.cuuju-competition {
  margin-left: 15px;
  margin-right: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 20px;
  overflow: hidden;
  position: relative;
  background: #f6f6f6;
  min-height: 140px;
}
[data-dpr="2"] .cuuju-competition {
  margin-left: 30px;
}
[data-dpr="2.5"] .cuuju-competition {
  margin-left: 38px;
}
[data-dpr="2.75"] .cuuju-competition {
  margin-left: 41px;
}
[data-dpr="3"] .cuuju-competition {
  margin-left: 45px;
}
[data-dpr="4"] .cuuju-competition {
  margin-left: 60px;
}
[data-dpr="2"] .cuuju-competition {
  margin-right: 30px;
}
[data-dpr="2.5"] .cuuju-competition {
  margin-right: 38px;
}
[data-dpr="2.75"] .cuuju-competition {
  margin-right: 41px;
}
[data-dpr="3"] .cuuju-competition {
  margin-right: 45px;
}
[data-dpr="4"] .cuuju-competition {
  margin-right: 60px;
}
[data-dpr="2"] .cuuju-competition {
  padding-left: 40px;
}
[data-dpr="2.5"] .cuuju-competition {
  padding-left: 50px;
}
[data-dpr="2.75"] .cuuju-competition {
  padding-left: 55px;
}
[data-dpr="3"] .cuuju-competition {
  padding-left: 60px;
}
[data-dpr="4"] .cuuju-competition {
  padding-left: 80px;
}
[data-dpr="2"] .cuuju-competition {
  padding-top: 40px;
}
[data-dpr="2.5"] .cuuju-competition {
  padding-top: 50px;
}
[data-dpr="2.75"] .cuuju-competition {
  padding-top: 55px;
}
[data-dpr="3"] .cuuju-competition {
  padding-top: 60px;
}
[data-dpr="4"] .cuuju-competition {
  padding-top: 80px;
}
.cuuju-competition .compt-line {
  font-size: 14px;
  padding-bottom: 15px;
  overflow: hidden;
  position: relative;
}
[data-dpr="2"] .cuuju-competition .compt-line {
  font-size: 28px;
}
[data-dpr="2.5"] .cuuju-competition .compt-line {
  font-size: 35px;
}
[data-dpr="2.75"] .cuuju-competition .compt-line {
  font-size: 39px;
}
[data-dpr="3"] .cuuju-competition .compt-line {
  font-size: 42px;
}
[data-dpr="4"] .cuuju-competition .compt-line {
  font-size: 56px;
}
[data-dpr="2"] .cuuju-competition .compt-line {
  padding-bottom: 30px;
}
[data-dpr="2.5"] .cuuju-competition .compt-line {
  padding-bottom: 38px;
}
[data-dpr="2.75"] .cuuju-competition .compt-line {
  padding-bottom: 41px;
}
[data-dpr="3"] .cuuju-competition .compt-line {
  padding-bottom: 45px;
}
[data-dpr="4"] .cuuju-competition .compt-line {
  padding-bottom: 60px;
}
.cuuju-competition .compt-line .compt-line-label {
  display: inline-block;
  width: 70px;
  color: #848484;
  float: left;
  margin-right: 10px;
}
[data-dpr="2"] .cuuju-competition .compt-line .compt-line-label {
  margin-right: 20px;
}
[data-dpr="2.5"] .cuuju-competition .compt-line .compt-line-label {
  margin-right: 25px;
}
[data-dpr="2.75"] .cuuju-competition .compt-line .compt-line-label {
  margin-right: 28px;
}
[data-dpr="3"] .cuuju-competition .compt-line .compt-line-label {
  margin-right: 30px;
}
[data-dpr="4"] .cuuju-competition .compt-line .compt-line-label {
  margin-right: 40px;
}
.cuuju-competition .compt-line .compt-line-label .just-txt {
  vertical-align: top;
  width: 100%;
  display: inline-block;
  font-style: normal;
}
.cuuju-competition .compt-line .compt-line-deta {
  color: #484848;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.cuuju-competition .compt-tag {
  width: 64px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  text-indent: -9999px;
}
[data-dpr="2"] .cuuju-competition .compt-tag {
  width: 128px;
}
[data-dpr="2.5"] .cuuju-competition .compt-tag {
  width: 160px;
}
[data-dpr="2.75"] .cuuju-competition .compt-tag {
  width: 176px;
}
[data-dpr="3"] .cuuju-competition .compt-tag {
  width: 192px;
}
[data-dpr="4"] .cuuju-competition .compt-tag {
  width: 256px;
}
[data-dpr="2"] .cuuju-competition .compt-tag {
  height: 140px;
}
[data-dpr="2.5"] .cuuju-competition .compt-tag {
  height: 175px;
}
[data-dpr="2.75"] .cuuju-competition .compt-tag {
  height: 193px;
}
[data-dpr="3"] .cuuju-competition .compt-tag {
  height: 210px;
}
[data-dpr="4"] .cuuju-competition .compt-tag {
  height: 280px;
}
.cuuju-competition .compt-tag.warn-bg {
  background: url("../images/com_tag1.png") no-repeat;
  background-size: cover;
}
.cuuju-competition .compt-tag.error-bg {
  background: url("../images/com_tag2.png") no-repeat;
  background-size: cover;
}
.seal {
  display: inline-block;
  position: absolute;
  width: 128px;
  height: 113px;
  right: 10px;
  bottom: 10px;
}
[data-dpr="2"] .seal {
  width: 255px;
}
[data-dpr="2.5"] .seal {
  width: 319px;
}
[data-dpr="2.75"] .seal {
  width: 351px;
}
[data-dpr="3"] .seal {
  width: 383px;
}
[data-dpr="4"] .seal {
  width: 510px;
}
[data-dpr="2"] .seal {
  height: 225px;
}
[data-dpr="2.5"] .seal {
  height: 281px;
}
[data-dpr="2.75"] .seal {
  height: 309px;
}
[data-dpr="3"] .seal {
  height: 338px;
}
[data-dpr="4"] .seal {
  height: 450px;
}
.seal.pass {
  background: url("../images/pass.png") no-repeat;
  background-size: cover;
}
.seal.unpass {
  background: url("../images/unpass.png") no-repeat;
  background-size: cover;
}
.cuuju-compt-pk {
  margin-right: 21px;
  margin-top: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding-bottom: 25px;
  color: #424242;
}
[data-dpr="2"] .cuuju-compt-pk {
  margin-right: 42px;
}
[data-dpr="2.5"] .cuuju-compt-pk {
  margin-right: 53px;
}
[data-dpr="2.75"] .cuuju-compt-pk {
  margin-right: 58px;
}
[data-dpr="3"] .cuuju-compt-pk {
  margin-right: 63px;
}
[data-dpr="4"] .cuuju-compt-pk {
  margin-right: 84px;
}
[data-dpr="2"] .cuuju-compt-pk {
  margin-top: 30px;
}
[data-dpr="2.5"] .cuuju-compt-pk {
  margin-top: 38px;
}
[data-dpr="2.75"] .cuuju-compt-pk {
  margin-top: 41px;
}
[data-dpr="3"] .cuuju-compt-pk {
  margin-top: 45px;
}
[data-dpr="4"] .cuuju-compt-pk {
  margin-top: 60px;
}
[data-dpr="2"] .cuuju-compt-pk {
  padding-bottom: 50px;
}
[data-dpr="2.5"] .cuuju-compt-pk {
  padding-bottom: 63px;
}
[data-dpr="2.75"] .cuuju-compt-pk {
  padding-bottom: 69px;
}
[data-dpr="3"] .cuuju-compt-pk {
  padding-bottom: 75px;
}
[data-dpr="4"] .cuuju-compt-pk {
  padding-bottom: 100px;
}
.cuuju-compt-pk .cuuju-pk-team {
  width: 30%;
}
.cuuju-compt-pk .cuuju-pk-team .cuuju-team-hd {
  width: 63px;
  height: 63px;
  line-height: 63px;
  margin: 0 auto;
}
[data-dpr="2"] .cuuju-compt-pk .cuuju-pk-team .cuuju-team-hd {
  width: 126px;
}
[data-dpr="2.5"] .cuuju-compt-pk .cuuju-pk-team .cuuju-team-hd {
  width: 158px;
}
[data-dpr="2.75"] .cuuju-compt-pk .cuuju-pk-team .cuuju-team-hd {
  width: 173px;
}
[data-dpr="3"] .cuuju-compt-pk .cuuju-pk-team .cuuju-team-hd {
  width: 189px;
}
[data-dpr="4"] .cuuju-compt-pk .cuuju-pk-team .cuuju-team-hd {
  width: 252px;
}
[data-dpr="2"] .cuuju-compt-pk .cuuju-pk-team .cuuju-team-hd {
  height: 126px;
}
[data-dpr="2.5"] .cuuju-compt-pk .cuuju-pk-team .cuuju-team-hd {
  height: 158px;
}
[data-dpr="2.75"] .cuuju-compt-pk .cuuju-pk-team .cuuju-team-hd {
  height: 173px;
}
[data-dpr="3"] .cuuju-compt-pk .cuuju-pk-team .cuuju-team-hd {
  height: 189px;
}
[data-dpr="4"] .cuuju-compt-pk .cuuju-pk-team .cuuju-team-hd {
  height: 252px;
}
[data-dpr="2"] .cuuju-compt-pk .cuuju-pk-team .cuuju-team-hd {
  line-height: 126px;
}
[data-dpr="2.5"] .cuuju-compt-pk .cuuju-pk-team .cuuju-team-hd {
  line-height: 158px;
}
[data-dpr="2.75"] .cuuju-compt-pk .cuuju-pk-team .cuuju-team-hd {
  line-height: 173px;
}
[data-dpr="3"] .cuuju-compt-pk .cuuju-pk-team .cuuju-team-hd {
  line-height: 189px;
}
[data-dpr="4"] .cuuju-compt-pk .cuuju-pk-team .cuuju-team-hd {
  line-height: 252px;
}
.cuuju-compt-pk .cuuju-pk-team .cuuju-team-hd .cuuju-team-photo {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.cuuju-compt-pk .cuuju-pk-team .cuuju-team-bd {
  font-size: 14px;
  margin-top: 8px;
}
[data-dpr="2"] .cuuju-compt-pk .cuuju-pk-team .cuuju-team-bd {
  font-size: 28px;
}
[data-dpr="2.5"] .cuuju-compt-pk .cuuju-pk-team .cuuju-team-bd {
  font-size: 35px;
}
[data-dpr="2.75"] .cuuju-compt-pk .cuuju-pk-team .cuuju-team-bd {
  font-size: 39px;
}
[data-dpr="3"] .cuuju-compt-pk .cuuju-pk-team .cuuju-team-bd {
  font-size: 42px;
}
[data-dpr="4"] .cuuju-compt-pk .cuuju-pk-team .cuuju-team-bd {
  font-size: 56px;
}
[data-dpr="2"] .cuuju-compt-pk .cuuju-pk-team .cuuju-team-bd {
  margin-top: 16px;
}
[data-dpr="2.5"] .cuuju-compt-pk .cuuju-pk-team .cuuju-team-bd {
  margin-top: 20px;
}
[data-dpr="2.75"] .cuuju-compt-pk .cuuju-pk-team .cuuju-team-bd {
  margin-top: 22px;
}
[data-dpr="3"] .cuuju-compt-pk .cuuju-pk-team .cuuju-team-bd {
  margin-top: 24px;
}
[data-dpr="4"] .cuuju-compt-pk .cuuju-pk-team .cuuju-team-bd {
  margin-top: 32px;
}
.cuuju-compt-pk .cuuju-pk-detail {
  font-size: 14px;
  text-align: center;
  position: absolute;
  left: 30%;
  right: 30%;
}
[data-dpr="2"] .cuuju-compt-pk .cuuju-pk-detail {
  font-size: 28px;
}
[data-dpr="2.5"] .cuuju-compt-pk .cuuju-pk-detail {
  font-size: 35px;
}
[data-dpr="2.75"] .cuuju-compt-pk .cuuju-pk-detail {
  font-size: 39px;
}
[data-dpr="3"] .cuuju-compt-pk .cuuju-pk-detail {
  font-size: 42px;
}
[data-dpr="4"] .cuuju-compt-pk .cuuju-pk-detail {
  font-size: 56px;
}
.cuuju-compt-pk .cuuju-pk-detail h4 {
  font-weight: normal;
  font-size: 14px;
}
[data-dpr="2"] .cuuju-compt-pk .cuuju-pk-detail h4 {
  font-size: 28px;
}
[data-dpr="2.5"] .cuuju-compt-pk .cuuju-pk-detail h4 {
  font-size: 35px;
}
[data-dpr="2.75"] .cuuju-compt-pk .cuuju-pk-detail h4 {
  font-size: 39px;
}
[data-dpr="3"] .cuuju-compt-pk .cuuju-pk-detail h4 {
  font-size: 42px;
}
[data-dpr="4"] .cuuju-compt-pk .cuuju-pk-detail h4 {
  font-size: 56px;
}
.cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  display: block;
  width: 45px;
  height: 18px;
  line-height: 18px;
  background: #31b946;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
[data-dpr="2"] .cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  width: 90px;
}
[data-dpr="2.5"] .cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  width: 113px;
}
[data-dpr="2.75"] .cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  width: 124px;
}
[data-dpr="3"] .cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  width: 135px;
}
[data-dpr="4"] .cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  width: 180px;
}
[data-dpr="2"] .cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  height: 36px;
}
[data-dpr="2.5"] .cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  height: 45px;
}
[data-dpr="2.75"] .cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  height: 50px;
}
[data-dpr="3"] .cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  height: 54px;
}
[data-dpr="4"] .cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  height: 72px;
}
[data-dpr="2"] .cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  line-height: 36px;
}
[data-dpr="2.5"] .cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  line-height: 45px;
}
[data-dpr="2.75"] .cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  line-height: 50px;
}
[data-dpr="3"] .cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  line-height: 54px;
}
[data-dpr="4"] .cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  line-height: 72px;
}
[data-dpr="2"] .cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  margin-top: 10px;
}
[data-dpr="2.5"] .cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  margin-top: 13px;
}
[data-dpr="2.75"] .cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  margin-top: 14px;
}
[data-dpr="3"] .cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  margin-top: 15px;
}
[data-dpr="4"] .cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  margin-top: 20px;
}
[data-dpr="2"] .cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  margin-bottom: 10px;
}
[data-dpr="2.5"] .cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  margin-bottom: 13px;
}
[data-dpr="2.75"] .cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  margin-bottom: 14px;
}
[data-dpr="3"] .cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  margin-bottom: 15px;
}
[data-dpr="4"] .cuuju-compt-pk .cuuju-pk-detail .pk-tag {
  margin-bottom: 20px;
}
.cuuju-compt-pk .cuuju-pk-detail .pk-tag.pk-end {
  background: #ff4747;
}
.btn-list {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
}
[data-dpr="2"] .btn-list {
  margin-left: 30px;
}
[data-dpr="2.5"] .btn-list {
  margin-left: 38px;
}
[data-dpr="2.75"] .btn-list {
  margin-left: 41px;
}
[data-dpr="3"] .btn-list {
  margin-left: 45px;
}
[data-dpr="4"] .btn-list {
  margin-left: 60px;
}
[data-dpr="2"] .btn-list {
  margin-right: 30px;
}
[data-dpr="2.5"] .btn-list {
  margin-right: 38px;
}
[data-dpr="2.75"] .btn-list {
  margin-right: 41px;
}
[data-dpr="3"] .btn-list {
  margin-right: 45px;
}
[data-dpr="4"] .btn-list {
  margin-right: 60px;
}
[data-dpr="2"] .btn-list {
  margin-top: 20px;
}
[data-dpr="2.5"] .btn-list {
  margin-top: 25px;
}
[data-dpr="2.75"] .btn-list {
  margin-top: 28px;
}
[data-dpr="3"] .btn-list {
  margin-top: 30px;
}
[data-dpr="4"] .btn-list {
  margin-top: 40px;
}
.btn-list .btn {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 17px;
  text-align: center;
  margin-bottom: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
[data-dpr="2"] .btn-list .btn {
  height: 80px;
}
[data-dpr="2.5"] .btn-list .btn {
  height: 100px;
}
[data-dpr="2.75"] .btn-list .btn {
  height: 110px;
}
[data-dpr="3"] .btn-list .btn {
  height: 120px;
}
[data-dpr="4"] .btn-list .btn {
  height: 160px;
}
[data-dpr="2"] .btn-list .btn {
  line-height: 80px;
}
[data-dpr="2.5"] .btn-list .btn {
  line-height: 100px;
}
[data-dpr="2.75"] .btn-list .btn {
  line-height: 110px;
}
[data-dpr="3"] .btn-list .btn {
  line-height: 120px;
}
[data-dpr="4"] .btn-list .btn {
  line-height: 160px;
}
[data-dpr="2"] .btn-list .btn {
  font-size: 34px;
}
[data-dpr="2.5"] .btn-list .btn {
  font-size: 43px;
}
[data-dpr="2.75"] .btn-list .btn {
  font-size: 47px;
}
[data-dpr="3"] .btn-list .btn {
  font-size: 51px;
}
[data-dpr="4"] .btn-list .btn {
  font-size: 68px;
}
[data-dpr="2"] .btn-list .btn {
  margin-bottom: 20px;
}
[data-dpr="2.5"] .btn-list .btn {
  margin-bottom: 25px;
}
[data-dpr="2.75"] .btn-list .btn {
  margin-bottom: 28px;
}
[data-dpr="3"] .btn-list .btn {
  margin-bottom: 30px;
}
[data-dpr="4"] .btn-list .btn {
  margin-bottom: 40px;
}
.btn-list .btn.btn-green {
  background: #31b946;
  color: #ffffff;
}
.btn-list .btn.btn-default {
  color: #31b946;
  border: solid #c4c4c4;
  border-width: 1px;
}
[data-dpr="2"] .btn-list .btn.btn-default {
  border-width: 1px;
}
[data-dpr="2.5"] .btn-list .btn.btn-default {
  border-width: 1px;
}
[data-dpr="2.75"] .btn-list .btn.btn-default {
  border-width: 1px;
}
[data-dpr="3"] .btn-list .btn.btn-default {
  border-width: 2px;
}
[data-dpr="4"] .btn-list .btn.btn-default {
  border-width: 2px;
}
.cuuju-packet {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
[data-dpr="2"] .cuuju-packet {
  margin-top: 30px;
}
[data-dpr="2.5"] .cuuju-packet {
  margin-top: 38px;
}
[data-dpr="2.75"] .cuuju-packet {
  margin-top: 41px;
}
[data-dpr="3"] .cuuju-packet {
  margin-top: 45px;
}
[data-dpr="4"] .cuuju-packet {
  margin-top: 60px;
}
[data-dpr="2"] .cuuju-packet {
  margin-left: 30px;
}
[data-dpr="2.5"] .cuuju-packet {
  margin-left: 38px;
}
[data-dpr="2.75"] .cuuju-packet {
  margin-left: 41px;
}
[data-dpr="3"] .cuuju-packet {
  margin-left: 45px;
}
[data-dpr="4"] .cuuju-packet {
  margin-left: 60px;
}
[data-dpr="2"] .cuuju-packet {
  margin-right: 30px;
}
[data-dpr="2.5"] .cuuju-packet {
  margin-right: 38px;
}
[data-dpr="2.75"] .cuuju-packet {
  margin-right: 41px;
}
[data-dpr="3"] .cuuju-packet {
  margin-right: 45px;
}
[data-dpr="4"] .cuuju-packet {
  margin-right: 60px;
}
.cuuju-packet .red-packet {
  background: #f3f3f3 url(../images/wive_bg.png) top center repeat-x;
  border-bottom-style: solid;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
  border-bottom-width: 2px;
  margin-bottom: 20px;
  padding-left: 12px;
  padding-right: 12px;
}
[data-dpr="2"] .cuuju-packet .red-packet {
  border-bottom-width: 3px;
}
[data-dpr="2.5"] .cuuju-packet .red-packet {
  border-bottom-width: 4px;
}
[data-dpr="2.75"] .cuuju-packet .red-packet {
  border-bottom-width: 4px;
}
[data-dpr="3"] .cuuju-packet .red-packet {
  border-bottom-width: 5px;
}
[data-dpr="4"] .cuuju-packet .red-packet {
  border-bottom-width: 6px;
}
[data-dpr="2"] .cuuju-packet .red-packet {
  margin-bottom: 40px;
}
[data-dpr="2.5"] .cuuju-packet .red-packet {
  margin-bottom: 50px;
}
[data-dpr="2.75"] .cuuju-packet .red-packet {
  margin-bottom: 55px;
}
[data-dpr="3"] .cuuju-packet .red-packet {
  margin-bottom: 60px;
}
[data-dpr="4"] .cuuju-packet .red-packet {
  margin-bottom: 80px;
}
[data-dpr="2"] .cuuju-packet .red-packet {
  padding-left: 24px;
}
[data-dpr="2.5"] .cuuju-packet .red-packet {
  padding-left: 30px;
}
[data-dpr="2.75"] .cuuju-packet .red-packet {
  padding-left: 33px;
}
[data-dpr="3"] .cuuju-packet .red-packet {
  padding-left: 36px;
}
[data-dpr="4"] .cuuju-packet .red-packet {
  padding-left: 48px;
}
[data-dpr="2"] .cuuju-packet .red-packet {
  padding-right: 24px;
}
[data-dpr="2.5"] .cuuju-packet .red-packet {
  padding-right: 30px;
}
[data-dpr="2.75"] .cuuju-packet .red-packet {
  padding-right: 33px;
}
[data-dpr="3"] .cuuju-packet .red-packet {
  padding-right: 36px;
}
[data-dpr="4"] .cuuju-packet .red-packet {
  padding-right: 48px;
}
.cuuju-packet .red-packet.border-style1 {
  border-color: #ff6926;
}
.cuuju-packet .red-packet.border-style2 {
  border-color: #32b846;
}
.cuuju-packet .red-packet.border-style3 {
  border-color: #6683ff;
}
.cuuju-packet .red-packet .pocket-h3 {
  font-size: 15px;
  color: #000000;
  font-weight: normal;
  padding-top: 12px;
}
[data-dpr="2"] .cuuju-packet .red-packet .pocket-h3 {
  font-size: 30px;
}
[data-dpr="2.5"] .cuuju-packet .red-packet .pocket-h3 {
  font-size: 38px;
}
[data-dpr="2.75"] .cuuju-packet .red-packet .pocket-h3 {
  font-size: 41px;
}
[data-dpr="3"] .cuuju-packet .red-packet .pocket-h3 {
  font-size: 45px;
}
[data-dpr="4"] .cuuju-packet .red-packet .pocket-h3 {
  font-size: 60px;
}
[data-dpr="2"] .cuuju-packet .red-packet .pocket-h3 {
  padding-top: 24px;
}
[data-dpr="2.5"] .cuuju-packet .red-packet .pocket-h3 {
  padding-top: 30px;
}
[data-dpr="2.75"] .cuuju-packet .red-packet .pocket-h3 {
  padding-top: 33px;
}
[data-dpr="3"] .cuuju-packet .red-packet .pocket-h3 {
  padding-top: 36px;
}
[data-dpr="4"] .cuuju-packet .red-packet .pocket-h3 {
  padding-top: 48px;
}
.cuuju-packet .red-packet .pocket-h4 {
  font-size: 12px;
  color: #898989;
  font-weight: normal;
}
[data-dpr="2"] .cuuju-packet .red-packet .pocket-h4 {
  font-size: 24px;
}
[data-dpr="2.5"] .cuuju-packet .red-packet .pocket-h4 {
  font-size: 30px;
}
[data-dpr="2.75"] .cuuju-packet .red-packet .pocket-h4 {
  font-size: 33px;
}
[data-dpr="3"] .cuuju-packet .red-packet .pocket-h4 {
  font-size: 36px;
}
[data-dpr="4"] .cuuju-packet .red-packet .pocket-h4 {
  font-size: 48px;
}
.cuuju-packet .red-packet .pocket-number {
  display: block;
  text-align: right;
  font-size: 28px;
  color: #ff5a00;
  margin-bottom: 8px;
}
[data-dpr="2"] .cuuju-packet .red-packet .pocket-number {
  font-size: 56px;
}
[data-dpr="2.5"] .cuuju-packet .red-packet .pocket-number {
  font-size: 70px;
}
[data-dpr="2.75"] .cuuju-packet .red-packet .pocket-number {
  font-size: 77px;
}
[data-dpr="3"] .cuuju-packet .red-packet .pocket-number {
  font-size: 84px;
}
[data-dpr="4"] .cuuju-packet .red-packet .pocket-number {
  font-size: 112px;
}
[data-dpr="2"] .cuuju-packet .red-packet .pocket-number {
  margin-bottom: 16px;
}
[data-dpr="2.5"] .cuuju-packet .red-packet .pocket-number {
  margin-bottom: 20px;
}
[data-dpr="2.75"] .cuuju-packet .red-packet .pocket-number {
  margin-bottom: 22px;
}
[data-dpr="3"] .cuuju-packet .red-packet .pocket-number {
  margin-bottom: 24px;
}
[data-dpr="4"] .cuuju-packet .red-packet .pocket-number {
  margin-bottom: 32px;
}
.cuuju-packet .red-packet .pocket-foot {
  height: 27px;
  line-height: 27px;
  border-top: dashed #c9c9c9;
  border-top-width: 1px;
  overflow: hidden;
  font-size: 12px;
  color: #898989;
}
[data-dpr="2"] .cuuju-packet .red-packet .pocket-foot {
  height: 54px;
}
[data-dpr="2.5"] .cuuju-packet .red-packet .pocket-foot {
  height: 68px;
}
[data-dpr="2.75"] .cuuju-packet .red-packet .pocket-foot {
  height: 74px;
}
[data-dpr="3"] .cuuju-packet .red-packet .pocket-foot {
  height: 81px;
}
[data-dpr="4"] .cuuju-packet .red-packet .pocket-foot {
  height: 108px;
}
[data-dpr="2"] .cuuju-packet .red-packet .pocket-foot {
  line-height: 54px;
}
[data-dpr="2.5"] .cuuju-packet .red-packet .pocket-foot {
  line-height: 68px;
}
[data-dpr="2.75"] .cuuju-packet .red-packet .pocket-foot {
  line-height: 74px;
}
[data-dpr="3"] .cuuju-packet .red-packet .pocket-foot {
  line-height: 81px;
}
[data-dpr="4"] .cuuju-packet .red-packet .pocket-foot {
  line-height: 108px;
}
[data-dpr="2"] .cuuju-packet .red-packet .pocket-foot {
  border-top-width: 1px;
}
[data-dpr="2.5"] .cuuju-packet .red-packet .pocket-foot {
  border-top-width: 1px;
}
[data-dpr="2.75"] .cuuju-packet .red-packet .pocket-foot {
  border-top-width: 1px;
}
[data-dpr="3"] .cuuju-packet .red-packet .pocket-foot {
  border-top-width: 2px;
}
[data-dpr="4"] .cuuju-packet .red-packet .pocket-foot {
  border-top-width: 2px;
}
[data-dpr="2"] .cuuju-packet .red-packet .pocket-foot {
  font-size: 24px;
}
[data-dpr="2.5"] .cuuju-packet .red-packet .pocket-foot {
  font-size: 30px;
}
[data-dpr="2.75"] .cuuju-packet .red-packet .pocket-foot {
  font-size: 33px;
}
[data-dpr="3"] .cuuju-packet .red-packet .pocket-foot {
  font-size: 36px;
}
[data-dpr="4"] .cuuju-packet .red-packet .pocket-foot {
  font-size: 48px;
}
.cuuju-packet .red-packet .pocket-foot .pocket-statu {
  display: inline-block;
  float: left;
}
.cuuju-packet .red-packet .pocket-foot .pocket-time {
  display: inline-block;
  float: right;
}
.cuuju-packet .discount-bar {
  height: 108px;
  overflow: hidden;
  position: relative;
  margin-bottom: 12px;
}
[data-dpr="2"] .cuuju-packet .discount-bar {
  height: 216px;
}
[data-dpr="2.5"] .cuuju-packet .discount-bar {
  height: 270px;
}
[data-dpr="2.75"] .cuuju-packet .discount-bar {
  height: 297px;
}
[data-dpr="3"] .cuuju-packet .discount-bar {
  height: 324px;
}
[data-dpr="4"] .cuuju-packet .discount-bar {
  height: 432px;
}
[data-dpr="2"] .cuuju-packet .discount-bar {
  margin-bottom: 24px;
}
[data-dpr="2.5"] .cuuju-packet .discount-bar {
  margin-bottom: 30px;
}
[data-dpr="2.75"] .cuuju-packet .discount-bar {
  margin-bottom: 33px;
}
[data-dpr="3"] .cuuju-packet .discount-bar {
  margin-bottom: 36px;
}
[data-dpr="4"] .cuuju-packet .discount-bar {
  margin-bottom: 48px;
}
.cuuju-packet .discount-bar .disc-left {
  -webkit-border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
  border-radius: 15px 0 0 15px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 98px;
}
[data-dpr="2"] .cuuju-packet .discount-bar .disc-left {
  right: 196px;
}
[data-dpr="2.5"] .cuuju-packet .discount-bar .disc-left {
  right: 245px;
}
[data-dpr="2.75"] .cuuju-packet .discount-bar .disc-left {
  right: 270px;
}
[data-dpr="3"] .cuuju-packet .discount-bar .disc-left {
  right: 294px;
}
[data-dpr="4"] .cuuju-packet .discount-bar .disc-left {
  right: 392px;
}
.cuuju-packet .discount-bar .disc-left span {
  display: block;
  font-size: 16px;
  text-align: center;
}
[data-dpr="2"] .cuuju-packet .discount-bar .disc-left span {
  font-size: 32px;
}
[data-dpr="2.5"] .cuuju-packet .discount-bar .disc-left span {
  font-size: 40px;
}
[data-dpr="2.75"] .cuuju-packet .discount-bar .disc-left span {
  font-size: 44px;
}
[data-dpr="3"] .cuuju-packet .discount-bar .disc-left span {
  font-size: 48px;
}
[data-dpr="4"] .cuuju-packet .discount-bar .disc-left span {
  font-size: 64px;
}
.cuuju-packet .discount-bar .disc-left span.disc-left-h3 {
  color: #ffffff;
  margin-top: 18px;
}
[data-dpr="2"] .cuuju-packet .discount-bar .disc-left span.disc-left-h3 {
  margin-top: 35px;
}
[data-dpr="2.5"] .cuuju-packet .discount-bar .disc-left span.disc-left-h3 {
  margin-top: 44px;
}
[data-dpr="2.75"] .cuuju-packet .discount-bar .disc-left span.disc-left-h3 {
  margin-top: 48px;
}
[data-dpr="3"] .cuuju-packet .discount-bar .disc-left span.disc-left-h3 {
  margin-top: 53px;
}
[data-dpr="4"] .cuuju-packet .discount-bar .disc-left span.disc-left-h3 {
  margin-top: 70px;
}
.cuuju-packet .discount-bar .disc-left span.disc-left-h4 {
  color: #6c4100;
  margin-top: 5px;
  margin-bottom: 7px;
}
[data-dpr="2"] .cuuju-packet .discount-bar .disc-left span.disc-left-h4 {
  margin-top: 10px;
}
[data-dpr="2.5"] .cuuju-packet .discount-bar .disc-left span.disc-left-h4 {
  margin-top: 13px;
}
[data-dpr="2.75"] .cuuju-packet .discount-bar .disc-left span.disc-left-h4 {
  margin-top: 14px;
}
[data-dpr="3"] .cuuju-packet .discount-bar .disc-left span.disc-left-h4 {
  margin-top: 15px;
}
[data-dpr="4"] .cuuju-packet .discount-bar .disc-left span.disc-left-h4 {
  margin-top: 20px;
}
[data-dpr="2"] .cuuju-packet .discount-bar .disc-left span.disc-left-h4 {
  margin-bottom: 14px;
}
[data-dpr="2.5"] .cuuju-packet .discount-bar .disc-left span.disc-left-h4 {
  margin-bottom: 18px;
}
[data-dpr="2.75"] .cuuju-packet .discount-bar .disc-left span.disc-left-h4 {
  margin-bottom: 19px;
}
[data-dpr="3"] .cuuju-packet .discount-bar .disc-left span.disc-left-h4 {
  margin-bottom: 21px;
}
[data-dpr="4"] .cuuju-packet .discount-bar .disc-left span.disc-left-h4 {
  margin-bottom: 28px;
}
.cuuju-packet .discount-bar .disc-left span.disc-left-h5 {
  font-size: 9px;
  color: #ffffff;
}
[data-dpr="2"] .cuuju-packet .discount-bar .disc-left span.disc-left-h5 {
  font-size: 18px;
}
[data-dpr="2.5"] .cuuju-packet .discount-bar .disc-left span.disc-left-h5 {
  font-size: 23px;
}
[data-dpr="2.75"] .cuuju-packet .discount-bar .disc-left span.disc-left-h5 {
  font-size: 25px;
}
[data-dpr="3"] .cuuju-packet .discount-bar .disc-left span.disc-left-h5 {
  font-size: 27px;
}
[data-dpr="4"] .cuuju-packet .discount-bar .disc-left span.disc-left-h5 {
  font-size: 36px;
}
.cuuju-packet .discount-bar .disc-right {
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  border-radius: 0 15px 15px 0;
  width: 98px;
  float: right;
  height: 100%;
  line-height: 108px;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
}
[data-dpr="2"] .cuuju-packet .discount-bar .disc-right {
  width: 196px;
}
[data-dpr="2.5"] .cuuju-packet .discount-bar .disc-right {
  width: 245px;
}
[data-dpr="2.75"] .cuuju-packet .discount-bar .disc-right {
  width: 270px;
}
[data-dpr="3"] .cuuju-packet .discount-bar .disc-right {
  width: 294px;
}
[data-dpr="4"] .cuuju-packet .discount-bar .disc-right {
  width: 392px;
}
[data-dpr="2"] .cuuju-packet .discount-bar .disc-right {
  line-height: 216px;
}
[data-dpr="2.5"] .cuuju-packet .discount-bar .disc-right {
  line-height: 270px;
}
[data-dpr="2.75"] .cuuju-packet .discount-bar .disc-right {
  line-height: 297px;
}
[data-dpr="3"] .cuuju-packet .discount-bar .disc-right {
  line-height: 324px;
}
[data-dpr="4"] .cuuju-packet .discount-bar .disc-right {
  line-height: 432px;
}
[data-dpr="2"] .cuuju-packet .discount-bar .disc-right {
  font-size: 24px;
}
[data-dpr="2.5"] .cuuju-packet .discount-bar .disc-right {
  font-size: 30px;
}
[data-dpr="2.75"] .cuuju-packet .discount-bar .disc-right {
  font-size: 33px;
}
[data-dpr="3"] .cuuju-packet .discount-bar .disc-right {
  font-size: 36px;
}
[data-dpr="4"] .cuuju-packet .discount-bar .disc-right {
  font-size: 48px;
}
.cuuju-packet .discount-bar .disc-right .disc-big {
  font-size: 36px;
}
[data-dpr="2"] .cuuju-packet .discount-bar .disc-right .disc-big {
  font-size: 72px;
}
[data-dpr="2.5"] .cuuju-packet .discount-bar .disc-right .disc-big {
  font-size: 90px;
}
[data-dpr="2.75"] .cuuju-packet .discount-bar .disc-right .disc-big {
  font-size: 99px;
}
[data-dpr="3"] .cuuju-packet .discount-bar .disc-right .disc-big {
  font-size: 108px;
}
[data-dpr="4"] .cuuju-packet .discount-bar .disc-right .disc-big {
  font-size: 144px;
}
.cuuju-packet .discount-bar:before {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}
.cuuju-packet .discount-bar.disc-style1:before {
  background: url("../images/disc_bg1.png") no-repeat 0 100%;
}
.cuuju-packet .discount-bar.disc-style1 .disc-left {
  background: #f3f3f3;
}
.cuuju-packet .discount-bar.disc-style1 .disc-left span.disc-left-h3 {
  color: #ff9d06;
}
.cuuju-packet .discount-bar.disc-style1 .disc-left span.disc-left-h5 {
  color: #ababab;
}
.cuuju-packet .discount-bar.disc-style1 .disc-right {
  background: #f3f3f3 url("../images/disc_right_bg1.png") left center no-repeat;
  color: #ff9d06;
}
.cuuju-packet .discount-bar.disc-style2:before {
  background: url("../images/disc_bg2.png") no-repeat 0 100%;
}
.cuuju-packet .discount-bar.disc-style2 .disc-left {
  background: #f2da48;
}
.cuuju-packet .discount-bar.disc-style2 .disc-right {
  background: #f2da48 url("../images/disc_right_bg2.png") left center no-repeat;
}
.cuuju-packet .discount-bar.disc-style3:before {
  background: url("../images/disc_bg3.png") no-repeat 0 100%;
  opacity: 0.6;
}
.cuuju-packet .discount-bar.disc-style3 .disc-left {
  background: #ff9d06;
}
.cuuju-packet .discount-bar.disc-style3 .disc-right {
  background: #ff9d06 url("../images/disc_right_bg3.png") left center no-repeat;
}
.cuuju-win .win-top {
  width: 43px;
  height: 24px;
  margin: 0 auto;
}
[data-dpr="2"] .cuuju-win .win-top {
  width: 86px;
}
[data-dpr="2.5"] .cuuju-win .win-top {
  width: 108px;
}
[data-dpr="2.75"] .cuuju-win .win-top {
  width: 118px;
}
[data-dpr="3"] .cuuju-win .win-top {
  width: 129px;
}
[data-dpr="4"] .cuuju-win .win-top {
  width: 172px;
}
[data-dpr="2"] .cuuju-win .win-top {
  height: 48px;
}
[data-dpr="2.5"] .cuuju-win .win-top {
  height: 60px;
}
[data-dpr="2.75"] .cuuju-win .win-top {
  height: 66px;
}
[data-dpr="3"] .cuuju-win .win-top {
  height: 72px;
}
[data-dpr="4"] .cuuju-win .win-top {
  height: 96px;
}
.cuuju-win .win-top img {
  width: 100%;
  vertical-align: top;
}
.cuuju-win .win-team {
  width: 74px;
  height: 74px;
  margin: 0 auto;
}
[data-dpr="2"] .cuuju-win .win-team {
  width: 148px;
}
[data-dpr="2.5"] .cuuju-win .win-team {
  width: 185px;
}
[data-dpr="2.75"] .cuuju-win .win-team {
  width: 204px;
}
[data-dpr="3"] .cuuju-win .win-team {
  width: 222px;
}
[data-dpr="4"] .cuuju-win .win-team {
  width: 296px;
}
[data-dpr="2"] .cuuju-win .win-team {
  height: 148px;
}
[data-dpr="2.5"] .cuuju-win .win-team {
  height: 185px;
}
[data-dpr="2.75"] .cuuju-win .win-team {
  height: 204px;
}
[data-dpr="3"] .cuuju-win .win-team {
  height: 222px;
}
[data-dpr="4"] .cuuju-win .win-team {
  height: 296px;
}
.cuuju-win .win-team img {
  width: 100%;
  vertical-align: top;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.cuuju-win .win-sort {
  width: 231px;
  height: 48px;
  background: url("../images/win_mid_bg.png") no-repeat;
  margin: 0 auto;
  text-align: center;
  color: #364363;
  font-size: 21px;
  margin-top: -8px;
  position: relative;
  z-index: 2;
  background-size: contain;
}
[data-dpr="2"] .cuuju-win .win-sort {
  width: 461px;
}
[data-dpr="2.5"] .cuuju-win .win-sort {
  width: 576px;
}
[data-dpr="2.75"] .cuuju-win .win-sort {
  width: 634px;
}
[data-dpr="3"] .cuuju-win .win-sort {
  width: 692px;
}
[data-dpr="4"] .cuuju-win .win-sort {
  width: 922px;
}
[data-dpr="2"] .cuuju-win .win-sort {
  height: 95px;
}
[data-dpr="2.5"] .cuuju-win .win-sort {
  height: 119px;
}
[data-dpr="2.75"] .cuuju-win .win-sort {
  height: 131px;
}
[data-dpr="3"] .cuuju-win .win-sort {
  height: 143px;
}
[data-dpr="4"] .cuuju-win .win-sort {
  height: 190px;
}
[data-dpr="2"] .cuuju-win .win-sort {
  font-size: 42px;
}
[data-dpr="2.5"] .cuuju-win .win-sort {
  font-size: 53px;
}
[data-dpr="2.75"] .cuuju-win .win-sort {
  font-size: 58px;
}
[data-dpr="3"] .cuuju-win .win-sort {
  font-size: 63px;
}
[data-dpr="4"] .cuuju-win .win-sort {
  font-size: 84px;
}
[data-dpr="2"] .cuuju-win .win-sort {
  margin-top: -15px;
}
[data-dpr="2.5"] .cuuju-win .win-sort {
  margin-top: -19px;
}
[data-dpr="2.75"] .cuuju-win .win-sort {
  margin-top: -21px;
}
[data-dpr="3"] .cuuju-win .win-sort {
  margin-top: -23px;
}
[data-dpr="4"] .cuuju-win .win-sort {
  margin-top: -30px;
}
.cuuju-win .win-tips {
  font-size: 15px;
  text-align: center;
  color: #ff2222;
}
[data-dpr="2"] .cuuju-win .win-tips {
  font-size: 30px;
}
[data-dpr="2.5"] .cuuju-win .win-tips {
  font-size: 38px;
}
[data-dpr="2.75"] .cuuju-win .win-tips {
  font-size: 41px;
}
[data-dpr="3"] .cuuju-win .win-tips {
  font-size: 45px;
}
[data-dpr="4"] .cuuju-win .win-tips {
  font-size: 60px;
}
.win-animation {
  background: url(../images/caidai.png) no-repeat center -1634px;
  -webkit-animation: animate-win 6s linear 1;
  -moz-animation: animate-win 6s linear 1;
  -ms-animation: animate-win 6s linear 1;
  animation: animate-win 6s linear 1;
}
@-webkit-keyframes animate-win {
  0% {
    background-position: center 0, 0 0;
  }
  100% {
    background-position: center 1134px, 0 0;
  }
}
@-moz-keyframes animate-win {
  0% {
    background-position: center 0, 0 0;
  }
  100% {
    background-position: center 1134px, 0 0;
  }
}
@-ms-keyframes animate-win {
  0% {
    background-position: center 0, 0 0;
  }
  100% {
    background-position: center 1134px, 0 0;
  }
}
@keyframes animate-win {
  0% {
    background-position: center 0, 0 0;
  }
  100% {
    background-position: center 1134px, 0 0;
  }
}
