body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;}
body{color:#333; font-size:12px;font-family:"Microsoft YaHei"}
ul,ol{list-style-type:none;}
select,input,img,select{vertical-align:middle;}
input{ font-size:12px;}
a{ text-decoration:none; color:#000;}
a:hover{color:#c00; text-decoration:none;}
.clear{clear:both;}
html{font-size: 32px;width:100%;height:100%;}
/*html { font-size: 62.5%;!* 10÷16=62.5% *! }*/
body { font-size: 14px;overflow-x:hidden; background-image:url("images/bodybg.png");background-size: cover; height:100%;}
.wrap{width:100%;height:100%;}

/* 大转盘样式 */
.banner{display:block;width:80%;margin-left:auto;margin-right:auto;padding-top:6%;}
.banner .turnplate{display:block;width:100%;position:relative;background-image:url(images/turnplate-bg.png);background-size:100% 100%;}
.banner .turnplate canvas.item{width:100%;}
.banner .turnplate img.pointer{position:absolute;width:31.5%;height:42.5%;left:34.6%;top:23%;}
/**/
.mid-tips{wwidth:100%;text-align: center;margin-top:10px; color: #fff;}
.mid-tips .mid-h3{display: block;font-size: 14px; font-weight: normal;}
.mid-tips .mid-h3 span{display: inline-block;font-size:24px;color: #ffbf04;font-weight: 600;}
.mid-name{width:70%;margin:10px auto; height: 45px; background: #fff; border:2px solid #f4e600;box-shadow: inset 0 3px 3px #404040;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;overflow: hidden; }
.mid-name .mid-person{ display: block;width:100%; line-height: 45px; font-size: 16px;color: #646464;}
.mid-tips .zj-btn{ display: block;width:100%;text-align: center;color: #fff;text-decoration: underline;}
.mid-tips .zj-btn:hover{color:#fff;}

/*活动*/
.action{width:100%;text-align: center; color: #fff; margin-top:10px;}
.action h4{ font-size: 14px;}
.action p{ font-size: 12px;line-height: 2;}
