@charset "utf-8";
*{
    padding:0;margin:0;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;
}
html,body{
    margin:0;padding:0;
}
html{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjzdust: 100%;
    height:100%;
}
body {
    line-height: 1.6;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    height: 100%;
    color: #5d5d5d;
    background: #f3f3f3;
}
ul,li{list-style: none;}
.circle{
    border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;
}
.fl{float: left;}
.fr{float: right;}

/**/
.header{
    position: relative;
}
.header-bg{
    position: relative;padding-bottom:67.33333333333%;/*506px/750px*/
}
.header-bg>span{
    position: absolute;width:100%;height:100%;top:0;left:0;background-size: cover; overflow: hidden;
background-repeat: no-repeat;
    -webkit-filter: blur(2px); /* Chrome, Opera */
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);

}
.header-bg:after{
    position: absolute;display: block;content: '';background: rgba(0,0,0,.6);width:100%;height:100%;top:0;left:0;
}
.header-position{
    position: absolute;bottom:9%;
}
.header-con{
    text-align: center;width:100%;color:#fff;
}
.header-con .header-img{
   display: inline-block;border:1px solid #dadada;width:62px;height:62px;position: relative;
}
.header-img img{
    max-width:100%; border-radius:50%;max-height:100%;
}
/*
.header-con .header-img{
    display: inline-block;width:17.06666666666667%;height:0;padding-bottom:17.06666666666667%; position: relative;  border:1px solid #dadada;
}
.header-img img{
    width:100%; border-radius:50%;
}
*/

.icon-img{
    display: inline-block; background-size: cover; position: absolute;width:21px;height:21px; right:0;top:0;
}
.icon-male{
    background-image: url("../images/male_img.png");
}
.icon-female{
    background-image: url("../images/female_img.png");
}
.name{
    color:#fff;display: block;text-align: center;
}
.line{
    width:100%;margin-top:5px;margin-bottom:5px;
}
.line .address{
    text-align: right;display: inline-block;width:40%;
}
.line .divide{
    display: inline-block;font-style: normal;margin-left:16px;margin-right:16px; line-height: 1;
}
.follow{
    display: block;color:#ff6600;position: relative;
}
.follow .icon-follow{
    display: inline-block;width:18px;height:15px; background-image: url("../images/follow_dot.png"); background-size: cover;vertical-align: middle;margin-right:9px;
}
.line .standing{
    text-align: left;display: inline-block;width:40%;
}
.panel{
    border-top:1px solid #eaeaea;border-bottom:1px solid #eaeaea; background: #fff;margin-bottom:12px;
}
.panel:first-child{margin-top:0;}
.text-list{
    overflow: hidden;padding:20px 0;
}
.text-list li{
    float: left; text-align: center;border-left:1px solid #eaeaea;
}
.text-list li:first-child{border-left:none;}
.text-4-part li{
    width:25%;
}
.h3-title{
    display: block;font-weight: normal;margin-left:15px;border-bottom:1px solid #eaeaea;color:#000;padding:10px 0;
}
.h3-title .h3-dot{
    display: inline-block;width:24px;height:24px;background-image: url("../images/title_dot.png");background-size: cover;vertical-align: middle;margin-right:8px;
}
.data-list{
    overflow: hidden;border-bottom:1px solid #eaeaea;padding:5px 7px;
}
.data-list .data-part{
    width:50%;border-left:1px solid #eaeaea;
}
.data-list .data-part:first-child{border-left:none;}
.data-li{
    overflow: hidden; position: relative;margin:11px 0;padding-left:10px;
}
.data-li .data-label{
    display: inline-block;width:2em; float: left; line-height: 22px;
}
.data-li .data-value{
    display: inline-block; text-align: center;width:3em; float: right; line-height: 22px;
}
.data-process{
    display: inline-block;position: absolute;left:2em;right:3em;background: #f1f1f1;height:12px;top:6px;margin-left:15px;border-radius:12px 4px 12px 3px;
}

.cur-data{
    position: absolute;left:0;height:100%;top:0;z-index:3;border-radius:12px 4px 12px 3px;
    background: -moz-linear-gradient(top, #7dea4b 0%, #53c31f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7dea4b), color-stop(100%,#53c31f));
    background: -webkit-linear-gradient(top, #7dea4b 0%,#53c31f 100%);
    background: -o-linear-gradient(top, #7dea4b 0%,#53c31f 100%);
    background: -ms-linear-gradient(top, #7dea4b 0%,#53c31f 100%);
    background: linear-gradient(to bottom, #7dea4b 0%,#53c31f 100%);
}
.data2-list{
    overflow: hidden;
}
.data2-list .data2-li{
    width:33.33333333%;float: left; text-align: center;position: relative;padding:15px 0;
}
.data2-circle{
    position: relative;margin:0 auto;width:70px;height:70px;padding:3px;
    background: -moz-linear-gradient(top, #7dea4b 0%, #53c31f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7dea4b), color-stop(100%,#53c31f));
    background: -webkit-linear-gradient(top, #7dea4b 0%,#53c31f 100%);
    background: -o-linear-gradient(top, #7dea4b 0%,#53c31f 100%);
    background: -ms-linear-gradient(top, #7dea4b 0%,#53c31f 100%);
    background: linear-gradient(to bottom, #7dea4b 0%,#53c31f 100%);
}
.data2-circle .data-num{
   display: inline-block;width:100%;height:100%;background: #fff;line-height: 67px;text-align: center;
}
.data-tag{
    margin-top:5px;display: block;text-align: center;
}

.btn-theme{
    display: block;color:#fff; background: #32b846; text-align: center;margin:6px 15px;line-height: 2;padding:6px 0;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;
}

.female-content .cur-data{
    background: -moz-linear-gradient(top, #deb2ff 0%, #bb7cf4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deb2ff), color-stop(100%,#bb7cf4));
    background: -webkit-linear-gradient(top, #deb2ff 0%,#bb7cf4 100%);
    background: -o-linear-gradient(top, #deb2ff 0%,#bb7cf4 100%);
    background: -ms-linear-gradient(top, #deb2ff 0%,#bb7cf4 100%);
    background: linear-gradient(to bottom, #deb2ff 0%,#bb7cf4 100%);
}
.female-content .data2-circle {
    background: -moz-linear-gradient(top, #deb2ff 0%, #bb7cf4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deb2ff), color-stop(100%,#bb7cf4));
    background: -webkit-linear-gradient(top, #deb2ff 0%,#bb7cf4 100%);
    background: -o-linear-gradient(top, #deb2ff 0%,#bb7cf4 100%);
    background: -ms-linear-gradient(top, #deb2ff 0%,#bb7cf4 100%);
    background: linear-gradient(to bottom, #deb2ff 0%,#bb7cf4 100%);
}
.female-content .btn-theme{ background: #bc7ef5;}

@media screen and (max-width: 320px) {
    .icon-img{width:16px;height:16px;}
}
@media screen and (min-width: 320px) {
    html {font-size: 14px;}
    .header-con .header-img{width:54px;height:54px;}
}

@media screen and (min-width: 360px) {
    html {font-size: 16px;}
    .header-con .header-img{width:62px;height:62px;}
}

@media screen and (min-width: 400px) {
    html {font-size: 18px;}
    .header-con .header-img{width:70px;height:70px;}
}

@media screen and (min-width: 440px) {
    html {font-size: 20px;}
}

@media screen and (min-width: 480px) {
    html {font-size: 22px;}
}

@media screen and (min-width: 640px) {
    html {font-size: 28px;}
}





