@charset "utf-8";
@import "mixin";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body{
  height: 100%;
}
body {
  /*max-width: 940px;*/
  margin: 0 auto;
  font-family: "Microsoft Yahei","Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  background: #fff;
  color: #000;
}

.f_left{float: left;}
.f_right {float: right;}
.f_blue{color: #18538d;}
.f_red{color: #e54b4d;}
.f_green{color: #2bac38;}
.bg_red{background: #e54b4d;  }
.bg_green{background: #2bac38;  }
.bg_blue{background: #18538d;  }

html { font-size: 62.5%;/* 10÷16=62.5% */ }
body { font-size: 14px; font-size: 1.4rem;  }










