*{margin:0;padding:0;}
body{
	width:100%;
	overflow:hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html{-webkit-text-size-adjust:none;}

.hide{ display:none;}
.page{
	width:100%;
	height:100%;
	position:absolute;
	font-size:100px;
	text-align:center;
}
.page .wrap{
	height:500px;
}
.page-1-1 { background-image: url("../images/p1_bg.png"); background-size: cover;}
.page-2-1 {background: url("../images/p2_bg.png");background-size: cover;}
.page-3-1 { background: url("../images/p3_bg.png");background-size: cover;}
/*.page-4-1 { background: url("../images/p1_bg.png");background-size: cover;}*/
.page-4-1 { background: url("../images/p3_bg.png");background-size: cover;}
/*!*.page-2-2{ background-color:#fd705d;}*!*/
/*.page-4-1 { background-color:#fff;}*/
/*!*.page-3-2{ background-color:#F3533C;}*!*/
/*.page-5-1 { background-color:#fff;}*/
/*!*.page-4-2{ background-color:#FFBF50;}*!*/


.page-current{
	z-index:1;
}
.pageposition {position: absolute; top: 56%; left: 50%; max-width: 1080px;width:90%;left:5%; height:400px;}
.page-1-1 .pageposition{ top: 19%;}
.page-1-1 .img_1 {
    height:auto;
    position:absolute;
    width: 60%;
    right:7%;
    top:10px;

}
.page-1-1 .img_2 {
    height:auto;
    position:absolute;
    width:60%;
    left: 10%;
    margin-top: 59%;

}
.page-1-1 .img_4 {
    height:auto;
    position:absolute;
    top:83%;
    width:50%;
    left:25%;
}

.page-2-1 .pageposition{ top:6%;}
.page-2-1 .img_1 {
	/*height:auto;*/
    width:100%;
	position:absolute;
	left:0;
	margin-top:12%;
}
.page-2-1 .img_2 {
	/*height:auto;*/
    width:100%;
	position:absolute;
	left:0;
	margin-top:45%;
    margin-top:65%;
}


.page-3-1 .pageposition{ top:16%;}
.page-3-1 .img_1{
    width:86%;
    position: absolute;
    left:7%;
    /*top:11%;*/
    /*bottom:9%;*/
}


/**/
.page-4-1 .p5_box{
    width:90%;
    background: rgba(255,255,255,.8);
    position: absolute;
    left:5%;
    top:12%;
    bottom:6%;
}
.p5_txt{margin-top:20px;padding:0 20px;}
.p5_txt p{display: block;line-height: 1;  color: #2bac38;font-size:14px; text-align: left;}

.page-1-1 .img_8,.page-2-1 .img_8,.page-3-1 .img_8,.page-4-1 .img_8,.page-5-1 .img_8{
    height: auto;
    width: 25px;
    position: absolute;
    left: 50%;
    top: 93%;
    margin-left: -12px;
}
.page-1-1 .img_8{
     top: 93%;
 }
.p_h2{
    display: block;
    font-weight:normal;
    font-size:18px;
    color: #fff;
    margin-top:5%;
}
/*6-14*/
.foot_main{
    width:100%;
    position: absolute;
    bottom:10%;
}
.main_btn{
    display: block;
    background: #2bac38;
    box-shadow: 1px 1px 3px rgba(0,0,0,.75);
    font-size: 20px;
    color: #fff;
    width:120px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    margin:0 auto;
}
.main_num{
    display: block;
    text-align: center;
    font-size:12px;
    color: #ccc;
    margin-top:5px;
}
.foot_link{
    display: block;
    width:100%;
    overflow: hidden;
    position: absolute;
    bottom:0;
}
.link_btn_box{
    display: block;
    float: left;
    font-size: 14px;
    width:50%;
    text-align: center;
    height:60px;
    line-height: 60px;

}
.link_btn_box .link_btn{
    color: #fff;
    text-decoration: underline;
}


.page-long{ background: url("../images/p3_bg.png"); background-repeat: repeat-y; overflow:scroll;  }
.page-long .page-wrap{width:90%;margin:20px auto; text-align: center;}
.page_h2{display: inline-block;height:55px; line-height: 55px; color: #2bac38;background: #fff;margin-bottom: 20px; position: relative;}
.page_h2:before{ display: block;width:0;height:0;border-bottom:55px solid #fff; border-left:55px solid transparent;content: '';position: absolute; left:-55px;top:0;}
.page_h2:after{ display: block;width:0;height:0;border-top:55px solid #fff; border-right:55px solid transparent;content: '';position: absolute;top:0; right:-55px;}
.activity-box{ background: rgba(255,255,255,.8);  color: #2bac38;padding:20px; text-align: left;}
.activity-txt{border-bottom:1px solid #cccccc;padding-bottom:10px;margin-bottom:10px;}
.activity-txt h4{display: block;font-size:14px;margin-bottom:20px;}
.activity-txt p{display: block;font-size:12px; line-height: 1.2;}

.activity-foot{margin-left:10px; text-align: center;}
.activity-foot p{display: block;font-size: 16px; text-align: left; line-height: 1.6;}
.activity-foot p.foot-p{font-size: 12px; text-align: center;}
.foot-logo{width:40%;margin:10px auto;}

@media screen and (min-width: 640px) {
    .page-3-1 .img_1{width:80%;left:10%;}
    .page-2-1 .pageposition{ top:6%;width:80%;left:10%;}
    .page-2-1 .img_2{margin-top:60%;}
    .page-4-1 .p5_box{top:15%;}
    .p5_txt{margin-top:40px;}
    .p5_txt p{line-height: 1.4;font-size:16px; }
}
















